.dash-table2 > tr > td{
    padding:7px 2px;
    text-align: center;
}
.dash-table2 > tr > th{
    text-align: center;
}
.dash-table2 > tr > td > div{
    background-color: #B2BCE2;
}
a
.dash-table2-type2 > tr > td{
    padding:7px 2px;
    text-align: center;
}
.dash-table2 > tr > th{
    text-align: center;
}
.dash-table2 > tr > td > div{
    background-color: #B2BCE2;
}