@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* rgba(98,131,247,1) */
}
.table-columns-heights{
  height: 3rem;
}
.add-items-class>div>input{
  border:solid 1px rgba(98,131,247,1);
  height:2.5rem;
  border-radius: 10px;
}
